/*
!.clang-format
!.gitignore
!src
src/*
!src/vk
src/vk/*
!src/vk/*.cpp
!src/vk/*.hpp
!src/*.cpp
!src/*.hpp
!CMakeLists.txt
!build.sh
!shaders
shaders/*
!shaders/*.comp
application.cpp
application.hh
vulkan.cpp
vulkan.hh